{% load static %}

<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>标注主页面</title>
    <title>标注主页面</title>
	
	<!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon--> 
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon--> 
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
	
	<!-- Styles -->
    <link href="{% static 'css/lib/scrollable/scrollable.min.css' %}" rel="stylesheet">  <!--Themes Jquery Bar Rating-->
    <link href="{% static 'fontAwesome/css/fontawesome-all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/mmc-chat.css' %}" rel="stylesheet" />
    <link href="{% static 'css/lib/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/nixon.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lobipanel/css/lobipanel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <style type='text/css'>  
        td{
            width: 8px;
            height: 2px;
            padding: 1px;
            margin: 1px;
            text-align: center;
        }
        th{
            width: 8px;
            height: 2px;
            padding: 1px;
            margin: 1px;
            text-align: center;
        }

    </style>
</head>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <li class="active">
						<a  href="/index/"><i class="ti-home"></i> 首页 </a>
                    </li>					
                                      
                    <li><a href="/tagging/"><i class="ti-tag"></i> 标注主页面</a></li>
					<li><a href="/check/"><i class="ti-eye"></i>查看已标注文本</a></li>
                    <li><a href="/check1/"><i class="ti-pencil"></i> 查看诊疗报告</a></li>
                    <li><a href="/example1/"><i class="ti-layout-grid2-alt"></i>查看标注说明</a></li>

                    <li><a href="/logout/"><i class="ti-close"></i>登出</a></li>

                </ul>
            </div>
        </div>
    </div>
	<!-- /# sidebar -->

    <div class="header">
        <div class="pull-left">
            <div class="logo">
                <a href="index.html">
                    <img id="logoImg" src="{% static 'logo/logo.png'%}"  alt="FNLP-SDS" />
                </a>
            </div>
        </div>
    </div>

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>标注主页面</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# row -->
                <div class="main-content" id="maincontent">
                    <div class="row" id="updatediv" >
                        <div class="col-lg-12" style = "height:200px">
						{% block content %}
                            <div class="card alert nestable-cart">
                                <div class="card-header">
									<p id='fatherp' style="font-size:16px"> 待标注对话序号:   <b id='textid' style="display: inline;">{{nowtext_id}}</b> </p>                          
                                </div>
                                <div class="card-body" >
                                    <div class="example box" data-options='{"direction": "vertical", "contentSelector": ">", "containerSelector": ">"}'> 
                                        <div id="dialog">
                                            <p style=" font-size:16px">
                                                <b>疾病：</b>
                                                {{diagnose}} <br />
                                                <b>患者提问：</b>
                                                {{selfreport}}<br /><br />
                                                <!-- <b>对话内容:</b><br />
                                            {% for dia in dia_text %}
                                                {{dia.0}}<br />
                                            {% endfor %} -->
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /# card -->
                            </div>
						{% endblock content%}
                            <!-- /# column -->
                        </div>
                        <div class="col-lg-12" id="tag" style = "height:500px;overflow-x:auto;overflow-y:auto;background: #ffffff">
                            {%for k,v,p,a,l in cutted%} <!-- k 是unique_id-->
                                <table class="table table-responsive" id="pstable" style= "width:300px;height:50px;">
                                {% block main %}
                                    <thead>
                                        <tr style="height:10px">
                                            <th id='uid' scope="row" >{{k}}</th>
                                            {%for ii,default in l.items%} 
                                                <th >{{ii}}</th>                                                          
                                            {% endfor %}
                                            <th >&#12288 </th><th >&#12288 </th> <th >&#12288 </th><th >&#12288</th>
                                            <th >&#12288 </th><th >&#12288 </th> <th >&#12288 </th><th >&#12288</th>
                                            <th >&#12288 </th><th >&#12288 </th> <th >&#12288 </th><th >&#12288</th>
                                            <th >&#12288 </th><th >&#12288 </th> <th >&#12288 </th><th >&#12288</th>
                                            <th >&#12288 </th><th >&#12288 </th> <th >&#12288 </th><th >&#12288</th>
                                        </tr>
                                    </thead>
                                    <tbody id = "rowcount">
                                        <tr id="{{k}}" style="height:10px">
                                            <td id = 'speaker_{{k}}' scope="row" >{{p}}:</td>
                                            {%for ss in v%}
                                                <td name="senttext{{k}}">{{ss}}</td>
                                            {% endfor %}
                                            <td> &#12288 </td><td >&#12288</td>  <td >&#12288  </td><td > &#12288 </td>
                                            <td> &#12288 </td><td >&#12288</td>  <td >&#12288  </td><td > &#12288 </td>
                                            <td> &#12288 </td><td >&#12288 </td>  <td >&#12288 </td><td > &#12288 </td>
                                            <td> &#12288 </td><td >&#12288</td>  <td >&#12288  </td><td > &#12288 </td>
                                            <td> &#12288 </td><td >&#12288</td>  <td >&#12288  </td><td > &#12288 </td>     
                                        </tr>
                                        <tr id="{{k}}" style="height:10px">
                                            <td id = "act_{{k}}">
                                                <select id='ACT_{{k}}' name="section1" style="width:100px">
                                                    <option value="">{{a}}</option>
                                                    {%for sec in sections_ACT%}
                                                        <option value="{{sec.0}}">{{sec.1}}</option>
                                                    {% endfor %}
                                                </select>

                                            </td>
                                            {%for ii,default in l.items%}
                                                <td id = "bio_{{k}}">
                                                    <select id='BIO_{{k}}_{{ii}}' name="section2" style="width:50px">
                                                        <option value="*">{{default}}</option>
                                                        {%for sec in sections_BIO%}
                                                            <option value="{{sec.0}}">{{sec.1}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                            {% endfor %}
                                            <td> &#12288 </td><td >&#12288 </td>  <td >&#12288 </td><td > &#12288 </td>
                                            <td> &#12288 </td><td >&#12288</td>  <td >&#12288  </td><td > &#12288 </td>
                                            <td> &#12288 </td><td >&#12288</td>  <td >&#12288  </td><td > &#12288 </td>
                                            <td> &#12288 </td><td >&#12288</td>  <td >&#12288  </td><td > &#12288 </td>
                                            <td> &#12288 </td><td >&#12288</td>  <td >&#12288  </td><td > &#12288 </td> 
                                        </tr>
                                        <tr id="{{k}}" style="height:10px">
                                            <td scope="row" >规范化</td>
                                            {%for ii,default in l.items%} 
                                            <td style="width:50px">
                                                <form  class = form1 style="width:20px; padding: 1px; margin: 1px;" >
                                                   <input type="text" name="规范化名称" id='norm_{{k}}_{{ii}}' value="" size="3" />
                                                </form>
                                            </td>                                             
                                                
                                            {% endfor %}
                                            <td> &#12288 </td><td >&#12288 </td>  <td >&#12288 </td><td > &#12288 </td>
                                            <td> &#12288 </td><td >&#12288</td>  <td >&#12288  </td><td > &#12288 </td>
                                            <td> &#12288 </td><td >&#12288</td>  <td >&#12288  </td><td > &#12288 </td>
                                            <td> &#12288 </td><td >&#12288</td>  <td >&#12288  </td><td > &#12288 </td>
                                            <td> &#12288 </td><td >&#12288</td>  <td >&#12288  </td><td > &#12288 </td>
                                        </tr>
                                    </tbody>
                                    {% endblock main %}
                                </table>

                            {% endfor %}
                    

                        </div>
                            <!-- <button style="width:15%;margin:10px;float:right;" id="next" class="btn btn-primary btn-flat m-b-30 m-t-30">下一条</button> -->
                            <!-- <button style="width:15%;margin:10px;float:right;" id="report" class="btn btn-primary btn-flat m-b-30 m-t-30">书写诊疗报告</button> -->
                            <button style="width:15%;margin:10px;float:right;" id="save" class="btn btn-primary btn-flat m-b-30 m-t-30">保存并提交</button>
                        

                    </div>

                </div>
                <!-- /# row -->     
			</div>
        </div>
        <!-- /# container-fluid -->
    </div>
    <!-- /# main -->
	
    <script src="{% static 'js/lib/jquery.min.js'%}"></script>
	<!-- jquery vendor -->
	<script src="{% static 'js/lib/jquery.nanoscroller.min.js'%}"></script>
	<!-- nano scroller -->
	<script src="{% static 'js/lib/sidebar.js'%}"></script>
	<!-- sidebar -->
	<script src="{% static 'js/lib/bootstrap.min.js'%}"></script>
	<!-- bootstrap -->
	<script src="{% static 'js/lib/mmc-common.js'%}"></script>
	<script src="{% static 'js/lib/mmc-chat.js'%}"></script>  

	<script src="{% static 'js/lib/scrollable/holder.js'%}"></script><!-- scripit init-->
    <script src="{% static 'js/lib/scrollable/jquery-asScrollbar.js'%}"></script><!-- scripit init-->
    <script src="{% static 'js/lib/scrollable/jquery-asScrollable.min.js'%}"></script><!-- scripit init-->
    <script src="{% static 'js/lib/scrollable/scrollable.init.js'%}"></script><!-- scripit init-->
	
    <script src="{% static 'js/scripts.js'%}"></script> <!-- scripit init -->
	
	<script>
	

        $(document).on('click','#save',function(){
            var textid = document.getElementById("textid").innerText;
            console.log("text id2:"+textid);
            dlen = $("th#uid").length;
            console.log("dlen:"+dlen);

            for (var k = 1; k < dlen+1 ; k++){
                // var speaker = document.getElementById('speaker_'+textid+'_'+k).innerText;

                var ActBios = '';

                //sentence action
                var act_select = document.getElementById('ACT_'+textid+'_'+k); 
                var act_index = act_select.selectedIndex ;
                var sen_act = act_select.options[act_index].value; // 1----症状
                // console.log('sen_act:',sen_act)
                if (sen_act == '') sen_act = '*';
                console.log('sen_act:',sen_act)
                ActBios = ActBios + sen_act

                //sentence BIO    // normalization
                var nk = String;
                var sen_norm = '';
                var nk = 'bio_'+textid+'_'+k;
                biolen = $('td#'+nk).length;
                // console.log(k+'biolen:'+biolen)
                for (var j = 1; j <biolen+1 ; j++){
                    var bio_select = document.getElementById('BIO_'+textid+'_'+k+'_'+j); 
                    var sec_index = bio_select.selectedIndex ;
                    var sec_options = bio_select.options[sec_index].value; // 0:O, 1:I
                    // (sec_options != '*' && sec_options != 1)? x = 1 :x = 0; //是否改变，并且为一个词的开头
                    if (sec_options=='') sec_options = '*'
                    ActBios = ActBios + sec_options;
                    console.log(j+sec_options)
                    var norm = document.getElementById('norm_'+textid+'_'+k+'_'+j).value;
                    if (norm == '') {sen_norm  = sen_norm + '|'}
                    else{sen_norm  = sen_norm + norm+ '|'}
                
                    
                }
                // var sent = document.getElementsByName('senttext'+textid+'_'+k);
                // var sentence ='';
                // for (var j = 0; j <biolen ; j++){
                //     sentence = sentence + sent[j].innerText;
                // }
                // console.log(k,"ActBios",ActBios);

                $.ajax({
                    async:false,
                    cache: false,
                    type:'POST',
                    url:"/savetag/",
                    data:{'nowtextid':textid,"sentid":k,"ActBios":ActBios,"sen_norm":sen_norm},//,
                            // "sentence":sentence,"speaker":speaker},
                    dataType: "json",
                    success:function(data){
                        console.log(data);
                    }
                });

            }
            window.alert('保存成功,请书写诊疗报告');

            $.ajax({
                async:false,
                type:'POST',
                url:'/report/',
                data:{'textid':textid},
                dataType: 'html',
                success:function(data){

                    document.write(data);
                    console.log(textid);
                    // top.location.href = '/report/'
                    // $("#maincontent").html(result);     
                },
                error: function(){  
                    alert("error");  
                }  
            });


        });


        // $(document).on('click','#report',function(){
        //     var textid = document.getElementById("textid").innerText; 
        //     // console.log(textid)

        //     // window.location.href='/report/?textid=textid'
        //     $.ajax({
        //         async:false,
        //         type:'POST',
        //         url:'/report/',
        //         data:{'textid':textid},
        //         dataType: 'html',
        //         success:function(data){

        //             document.write(data);
        //             console.log(textid);
        //             top.location.href = '/report/'
        //             // $("#maincontent").html(result);     
        //         },
        //         error: function(){  
        //             alert("error");  
        //         }  
        //     });
        // });







    </script>
	

</body>

</html>